*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: DM Sans;
  margin: 0 auto;
  height: 100vh;
}

img {
  max-width: 100%;
}

.header {
  padding: 2rem 0;
  font-family: DM Sans;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.main-nav {
  list-style-type: none;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-links,
.logo,
.nav__item {
  text-decoration: none;
  color: #222222;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
  color: #eaebec;
  transition: opacity 250ms ease;
  position: absolute;
  top: 3px;
  right: 5px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.nav__list__left,
.nav__list__right {
  list-style-type: none;
  padding: 0;
}
.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  background: white;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(3px);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  height: 30px;
}

.active {
  display: block;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 0.875em;
  padding: 0.75em 2em;
}
.btn_h1 {
  color: #ffffff;
  background-color: #02b15d;
  border: 1px solid #02b15d;
}
.btn_h2 {
  color: #02b15d;
  background-color: #ffffff;
  border: 1px solid #02b15d;
}
.btn:hover,
.btn:focus {
  opacity: 0.75;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.hero {
  padding: 0;
  color: #222222;
  margin: 0;
  width: 100%;
}

.hero_flex {
  margin: 0;
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.hero__title {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2;
}

h1 {
  margin: 0;
}

.hero_text {
  font-family: DM Sans;
  font-size: 1.2em;
  color: #222222;
}

.main_container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.footer {
  background-color: #3d418b;
  height: 80px;
  margin: 0;
}

.hero_pic_1 {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    font-size: 18px;
    padding-bottom: 10px;
    display: flex;
  }

  .logo {
    position: absolute;
    left: -5px;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
    position: absolute;
  }

  .nav__list__left,
  .nav__list__right {
    display: flex;
    padding: 0;
  }

  .nav__list__left {
    width: 60%;
  }

  .nav__list__right {
    width: 20%;
  }

  .hamburger,
  .nav-toggle {
    display: none;
  }

  .hero {
    padding: 200px 0 0 0;
  }
  .hero_header {
    width: 60%;
  }

  .hero_flex {
    width: 70%;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero_pic_1 {
    display: none;
  }

  .hero__title {
    font-size: 2.5em;
    line-height: 1.2;
  }

  .hero_text {
    font-size: 1.5em;
    color: #222222;
  }
}
